* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: workSans, Helvetica, sans-serif;
    height: 100%;
}

@font-face {
    font-family: workSans;
    src: url(./assets/fonts/static/WorkSans-Regular.ttf);
}

@font-face {
    font-family: workSansBold;
    src: url(./assets/fonts/static/WorkSans-Bold.ttf);
}

@font-face {
    font-family: workSansSemiBold;
    src: url(./assets/fonts/static/WorkSans-SemiBold.ttf);
}



h1 {
    font-family: workSansBold;
    font-size: 250%;
    padding: 5% 0% 3% 15%;
    color: hsl(292, 42%, 14%);
    background: url(./assets/images/icon-star.svg) no-repeat;
    background-position-y: 59%;
    background-position-x: 5%;
    background-size: 6%;
}

ul {
    list-style-type: none;
}

hr {
    opacity: 0.1;
    margin: 0% 5%;
}

.title {
    color:  hsl(292, 42%, 14%);
    padding: 5%;
    font-size: 100%;
    background: url(./assets/images/icon-plus.svg) no-repeat;
    background-position-y: center;
    background-position-x: 95%;
    cursor: pointer;
}

.title:hover {
    color: hsl(293, 63%, 54%);
}

.description {
    font-size: 85%;
    color: hsl(292, 16%, 49%);
    padding: 0% 7%;
}

#firstDescription, #secondDescription, #thirdDescription, #fourthDescription {
    height: 0;
    overflow: hidden;
}

@media (max-width: 1440px) {
    #page {
        height: 100%;
        background: url(./assets/images/background-pattern-desktop.svg) no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #page #content {
        height: 73%;
        width: 40%;
        background: white;
        border-radius: 3%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
   
}

@media (min-width: 360px) and (max-width: 435px) {

    h1 {
        margin-top: 5%;
        background-size: 7%;
    }

    .title {
        padding-right: 15%;
    }

    ul {
        margin-top: 4%;
    }

    ul p {
        padding-right: 4%;
    }

    #page {
        height: 100%;
        background: url(./assets/images/background-pattern-mobile.svg) repeat-x;
    }

    #page #content {
        height: 70%;
        width: 85%;
        background: white;
        border-radius: 3%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}