* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: workSans, Helvetica, sans-serif;
    height: 100%;
}

@font-face {
    font-family: workSans;
    src: url(./assets/fonts/static/WorkSans-Regular.ttf);
}

@font-face {
    font-family: workSansBold;
    src: url(./assets/fonts/static/WorkSans-Bold.ttf);
}

@font-face {
    font-family: workSansSemiBold;
    src: url(./assets/fonts/static/WorkSans-SemiBold.ttf);
}

@media (max-width: 1440px) {
    #page {
        height: 100%;
        border: 5px solid red;
        background: url(./assets/images/background-pattern-desktop.svg) no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #page #content {
        height: 70%;
        width: 40%;
        background: white;
        border-radius: 3%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
   
}

@media (min-width: 360px) and (max-width: 435px) {
    #page {
        height: 100%;
        border: 5px solid red;
        background: url(./assets/images/background-pattern-mobile.svg) repeat-x;
    }

    #page #content {
        height: 70%;
        width: 85%;
        background: white;
        border-radius: 3%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}